* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(54, 54, 54);
}

.maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
}

.heading {
  width: 100%;

  height: auto;
  color: white;
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
}

.calculator {
  width: 400px;
  height: 550px;
  background: rgb(51, 0, 85);
  border-radius: 10px;
}

#outputscreen {
  width: 80%;
  height: 40px;
  margin-left: 35px;

  margin-top: 35px;
  pointer-events: none;
  text-shadow: 5mm;
  font-size: x-large;
  text-overflow: initial;
  border-radius: 10px;
}
.row {
  padding-top: 25px;
  font-weight: bolder;
}
.buttonsstyle {
  height: 60px;
  width: 60px;
  margin-left: 20px;
  background-color: rgb(231, 231, 231);
  font-size: x-large;
  border-radius: 10px;
}
.buttonsstyle:hover {
  background: rgb(255, 255, 255);
}

.buttons {
  margin-top: 1cm;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6%;
}
.clearbutton {
  height: 60px;
  width: 60px;
  font-size: x-large;
  border-radius: 10px;
}
#clrbtn {
  display: block;
  margin-left: 20px;
  width: auto;
}

@media screen and (max-width: 600px) {
  .calculator {
    margin-top: 10px;
    width: 60%;
    height: 450px;
    width: 350px;
    height: 550px;
  }

  .buttonsstyle {
    height: 50px;
    width: 50px;

    background-color: rgb(231, 231, 231);
    font-size: x-large;
    border-radius: 5px;
  }
  .row {
    padding-top: 18px;
    font-weight: bolder;
  }

  .clearbutton {
    height: 50px;
    width: 50px;
    padding-top: 2px;
  }

  .buttons {
    margin-left: 4%;
  }
}

@media screen and (max-width: 545px) {
  .calculator {
    margin-top: 5px;
    width: 75%;
    height: 450px;
  }

  .buttonsstyle {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    background-color: rgb(231, 231, 231);
    font-size: x-large;
    border-radius: 5px;
  }
  .row {
    padding-top: 18px;
    font-weight: bolder;
  }

  .clearbutton {
    height: 50px;
    width: 50px;
    padding-top: 2px;

    background-color: rgb(231, 231, 231);
    font-size: x-large;
    border-radius: 10px;
  }
  #outputscreen {
    margin-left: 25px;
  }

  .buttons {
    margin-left: 10%;
  }

  #clrbtn {
    margin-left: 10px;
    width: auto;
  }
}

@media screen and (max-width: 320px) {
  .calculator {
    margin-top: 5px;
    width: 88%;
    height: 450px;
  }

  .buttonsstyle {
    height: 40px;
    width: 40px;
  }

  .clearbutton {
    height: 40px;
    width: 40px;
    padding-top: 2px;
  }

  #clrbtn {
    margin-left: 10px;
    width: auto;
  }

  #outputscreen {
    margin-left: 20px;
  }
  .buttons {
    margin-left: 4%;
  }
}
